body {
    background: white;
    color: black;
    font-family: Helvetica;
}

.container {
    display: flex; 
    flex-direction: row; 
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: lightyellow;
}



.header {
    /* background-color: red; */
    bottom: 0px;
    right: 0px;
    display: flex; 
    flex-direction: column;
    position: fixed;
    text-align: right;
    padding-right: 35px;
    padding-bottom: 30px;
}

#indexTitle {
    font-size: 70px;    
    letter-spacing: 3px; 
}

#name {
    margin-top: 6px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-style: bold;
}

.row {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    justify-content: space-between;
    vertical-align: top;
    position:absolute;
    left:10vw; 
}

.column {
    display: flex; 
    flex-direction: row;
    /* align-content: center; */
    align-items: center;
}

.content {
    display: flex; 
    flex-direction: row;
}

#number {
    font-size: 35vw;
    color: #ebebeb;
    font-weight: bold;
    position: relative;
    z-index: 20;
    /* background: lightblue; */
}

.info {
    display: flex; 
    flex-direction: column;
    /* background-color: yellow; */
    position: absolute;
    margin-left: 15vw;
    margin-top: 15vw;
    letter-spacing: .3px;
    z-index: 25;
}

#assignmentname {
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#detail {
    font-size: 15px;
    letter-spacing: 2.3px;
    padding-top: 10px;
}

.img {
    margin-left: 20px;
    width: 40vw;
    height: 350px;
    background-color: lightblue;
    opacity: .4;
    margin-bottom: 10px;
}

#back {
    font-family: helvetica;
    font-size: 18px;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: lightyellow;
}

@media(max-width: 800px){ 
	
    #number {
        font-size: 220px;
    }

    .header {
        z-index: 30;
        width: 100vw;
        z-index: 40;
        background: white;
    }

    #indexTitle {
        font-size: 30px;    
        letter-spacing: .4px;  
    }

    #name {
        margin-top: 6px;
        font-size: 10px;
        text-transform: uppercase;
    }

    #detail {
        font-size: 18px;
    }

    .info {
        margin-left: 25vw;
        margin-top: 25vw;
        letter-spacing: .3px;
    }

    .img {
        width: 150px;
        height: 190px;
    }
}
